<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}" /><br>

<div id="bookWrap" th:style="'height: ' + (${booksHeight < 190 ? 85 : booksHeight / 2 }) + 'vh;'" >
    <div th:each="shelf, index : ${shelves}"
         th:class="'book b' + (${index.index} % 4 + 1)"
         th:text="${shelf.getBookDTO().getTitle.length() > 40 ? shelf.getBookDTO().getTitle.substring(0, 40) + '...' : shelf.getBookDTO().getTitle}"
         th:style="'height: ' + (${shelf.getBookDTO().getSizeDepth()} * 2.5) + 'px;'">
        1
    </div>
    <div class="bubble" th:text="|${booksHeight / 10}cm|"> </div>
    <div class="ruler" th:style="'height: ' + (${booksHeight * 3}) + 'px;'" th:with="idx=${#numbers.sequence(0, booksHeight / 3)}">
        <div th:each="index : ${idx}" th:class="'milli' + (${(index + 1) * 5 % 10 == 5 ? 5 : ((index + 1) * 5 % 10 == 0 ? 10 : null)})"></div>
    </div>
    <div id="avgBooks" th:text="|에이북즈 회원은 평균 ${averageBooks}권을 읽고, ${averageHeight / 10}cm 만큼 쌓였어요!|"></div>
</div>
<div id="searchResults"></div>
<script defer src="/js/index.js"></script>
</body>
</html>