#slideCard{
    margin: 10px auto;

}

#slideCard h1{
    font-size: 2em;
    font-weight: bold;
}

#slideCard table {
    text-align: center;
    justify-content: center;
    border: 1px solid black;

}
#slideCard table th{
    background-color: #a17883;
}

#slideCard table tr, 
#slideCard table td{
    border: 1px solid black;
    background-color: #EEE;
}

