

#slideCard{
    width: 1280px;
    margin: 10px auto;
}

#slideCard h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#slideCard .table {
    text-align: center;
    justify-content: center;
    /*border: 1px solid black;*/
    margin: 10px auto;
    border: 1px solid white;
}
#slideCard .table th{
    background-color: #a17883;
}
#slideCard .table tr{
    border: 2px solid white;
}
#slideCard .table tr,
#slideCard .table td{
    background-color: #EEE;

}
#slideCard table td img{
    width: 100%;
}
#slideCard #slideTable .dropTarget {
    /*border-top: 2px dashed #007bff; !* 드롭 위치에 파란색 dashed 테두리 추가 *!*/
    margin-top: 10px;
}
#slideCard #slideForm{
    margin-top: 20px;
    /*display: flex;*/
    margin-left: 100px;
}
#slideCard #slideForm #ISBN13{
    margin-bottom: 10px;
}