#slideCard{
    margin: 10px auto;

}

#slideCard h1{
    font-size: 2em;
    font-weight: bold;
}

#slideCard table {
    text-align: center;
    justify-content: center;
    border: 1px solid black;

}
#slideCard table th{
    background-color: #a17883;
}

#slideCard table tr, 
#slideCard table td{
    border: 1px solid black;
    background-color: #EEE;
}
#slideCard table td img{
    width: 100%;
}
#slideCard #slideForm{
    margin-top: 20px;
    /*display: flex;*/
}
#slideCard #slideForm #ISBN13{
    margin-bottom: 10px;
}