#boardContainer{
    width: 1280px;
    height: 100%;
}

#boardTitle:hover{
    text-decoration: underline;
    color: #2e9cdf;
}

#boardTable{
    table-layout: fixed;
    width: 100%;
    height: auto;
}

