#bookWrap {
    width: 1280px;
    height: 90vh;
    background-color: #aaa;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
#bookWrap .book{
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bookWrap .b1{
    transform: translateX(0px);
    background-color: skyblue;
}
#bookWrap .b2{
    transform: translateX(-20px);
    background-color: rgb(200, 213, 224);
}
#bookWrap .b3{
    transform: translateX(5px);
    background-color: rgb(175, 206, 235);
}
#bookWrap .b4{
    transform: translateX(-40px);
    background-color: rgb(231, 234, 240);
}
#bookWrap .bubble {
    width: 150px;
    height: 70px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}
#bookWrap .ruler{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 300px;
    bottom: 0;
    right: 150px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

#bookWrap .ruler .milli5{
    width: 20px;
    margin-bottom: 8.5px;
    border: 2px solid black;
    display: flex;
}
#bookWrap .ruler .milli10{
    width: 30px;
    margin-bottom: 8.5px;
    border: 2px solid black;
    display: flex;
}


#listWrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#listWrap #booklist{
    width: 170px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#listWrap #booklist img{
    padding: 10px;
}