*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
    color: #333;
}


/* @@@@ header @@@@ */
#header{
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo{
    width: 20%;
    height: 100%;
}
.nav{
    width: 30%;
    height: 100%;
    position: relative;
}
.nav > ul {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav > ul > li {

}
.nav > ul > li > a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: skyblue;
    box-sizing: border-box;
}
.nav > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
.nav > ul > li > ul > li {
    position: relative;
}
.nav > ul > li > ul {
    position: absolute;
}
.nav > ul > li > ul > li > a {
    display: block;
}
.search{
    width: 30%;
    height: 100%;
    position: relative;
}
.search input{
    width: 85%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.search button{
    position: absolute;
    bottom: 5px;
    right: 0;
}
.login{
    width: 10%;
    height: 100%;
    position: relative;
}

.login p{
    display: block;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 10px 20px;
}
.join{
    width: 10%;
    height: 100%;
    position: relative;
}
.join p{
    display: block;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}
.join p:hover, .login p:hover{
    background-color: rgb(19, 168, 226);
}


/* @@@@ main @@@@ */
main{
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.slide{
    height: 400px;
}
.slide .sliderWrap {
    display: flex;
    width: 400%;
}

#content{
    width: 1280px;
    height: 250px;
    display: flex;
}
#content .notice {
    width: 33.33%;
    height: 100%;
    background-color: #ccc;
}
#content .recommend{
    width: 33.33%;
    height: 100%;
    background-color: #bbb;
}
#content .memo {
    width: 33.33%;
    height: 100%;
    background-color: #aaa;
    display: flex;
}
#content .memo .memo_cover{
    margin: auto 10px;
    width: 150px;
    height: 200px;
}
#content .memo .memo_input{
    margin-top: 20px;
}
#content .memo .memo_input .page {}
#content .memo .memo_input .quotes {}
#content .memo .memo_input .note {}
#content .memo .memo_input .memo_submit {}


/* @@@@ footer @@@@ */
#footer{
    width: 1280px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}
#footer .footer1 {
    width: 80%;
    height: 100%;
}
#footer .footer1 .footer1-1 {
    width: 100%;
    height: 50%;
    background-color: #abc;
}
#footer .footer1 .footer1-2 {
    width: 100%;
    height: 50%;
    background-color: #bcd;
}
#footer .snsIcon {
    width: 20%;
    height: 100%;
    background-color: #cde;
}

