*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
    color: #333;
}


/* @@@@ header @@@@ */
#header{
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo{
    width: 20%;
    height: 100%;
}
.nav{
    width: 30%;
    height: 100%;
    position: relative;
}
.nav > ul {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav > ul > li {

}
.nav > ul > li > a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: skyblue;
    box-sizing: border-box;
}
.nav > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
.nav > ul > li > ul {
    width: 100%;
    position: absolute;
    display: none;
    background-color: #fff;
}

.nav > ul > li > ul {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 600ms;
}
.nav > ul > li > ul > li {
    position: relative;

}
.nav > ul > li > ul > li > a {
    width: 34.5%;
    display: block;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    /* background-color: skyblue; */
    top: 10px;
    z-index: 1;
}
.nav > ul > li > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
.nav > ul > li > ul > li > ul {
    position: absolute;
    display: block;
    right: -10px;
    top: 10px;
    width: 230px;
    flex-wrap: wrap;
    background-color: skyblue;
    z-index: 2;
}
.nav > ul > li > ul > li > ul  td {
    padding: 10px 20px;
}
.nav > ul > li > ul > li > ul  td > a:hover {
    text-decoration: underline;
}
.search{
    width: 30%;
    height: 100%;
    position: relative;
}
.search #search_bar{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.search input{
    width: 85%;
    /*height: 30%;*/
    position: absolute;
    bottom: 0;
    left: 0;
}
.search button{
    position: absolute;
    bottom: 10px;
    right: 0;
}
.login{
    width: 10%;
    height: 100%;
    position: relative;
}

.login p{
    display: block;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 10px 20px;
}
.join{
    width: 10%;
    height: 100%;
    position: relative;
}
.join p{
    display: block;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}
p:hover{
    background-color: rgb(19, 168, 226);
}

@media only screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .nav {
        order: 2;
    }
    .search {
        order: 1;
    }
    .login {
        order: 3;
    }
    .join {
        order: 4;
    }
    .logo, .nav, .search, .login, .join {
        width: 100%;
        margin: auto 0;
        text-align: center;
    }
    .nav > ul {
        flex-direction: row;
        align-items: center;
    }
    .nav > ul > li > ul {
        display: none; /* 서브 메뉴는 기본적으로 숨기고 필요시 JavaScript로 토글 */
    }
    .search input {
        width: 50%;
        height: 30px;
        margin: 0 auto;

    }
    .login p, .join p {
        width: 70px;
        position: static; /* 절대 위치 제거 */
        margin: 10px auto; /* 중앙 정렬 */
    }

    .search button{
        position: absolute;
        right: 0;
    }
}


/* @@@@ main @@@@ */
main{
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.slide{
    height: 400px;
}
.slide .sliderWrap {
    display: flex;
    width: 400%;
}

#content{
    width: 1280px;
    height: 250px;
    display: flex;
}
#content .notice {
    width: 33.33%;
    height: 100%;
    background-color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}
#content .recommend{
    width: 33.33%;
    height: 100%;
    background-color: #bbb;
    font-size: 1.5em;
    padding: 10px;
}
#content .memo {
    width: 33.33%;
    height: 100%;
    background-color: #aaa;
    display: flex;
    position: relative;
}
#content .memo .memo_cover{
    width: 40%;
    margin: auto 20px;
    /*width: 150px;*/
    height: 210px;
}
#content .memo .memo_text{
    width: 60%;
}
#content .memo .memo_title {
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .memo .memo_day{
    margin-top: 10px;
    height: 50px;
    text-align: center;
}
#content .memo .read_bar{
    display: flex;
    justify-content: start;
    align-items: center;
}
#content .memo .read_bar .bar{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    margin-right: 5px;
}
#content .memo .memo_page{
    display: flex;
    justify-content: space-between;
}
#content .memo .memo_btn{
    position: absolute;
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 20px;
    bottom: 20px;
    right: 70px;
}

#content .memo .memo_btn:hover{
    background-color: rgb(54, 184, 235);
}
.arrow {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 100ms;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능하도록 함 */
}

.memo_text .left {
    left: 10px;
    transform: translateY(-50%) rotate(-135deg);
}

.memo_text .right {
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
}

.memo_text .left:hover {
    transform: translateY(-50%) rotate(-135deg) scale(1.2);
}

.memo_text .right:hover {
    transform: translateY(-50%) rotate(45deg) scale(1.2);
}


/* @@@@ footer @@@@ */
#footer{
    width: 1280px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}
#footer .footer1 {
    width: 80%;
    height: 100%;
    background-color: #bcd;
}
#footer .footer1 .footer1-1 {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-bottom: 10px;
}
#footer .footer1 .footer1-2 {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 10px;
}
#footer .footer1 .footer1-1 ul {
    padding-top: 24px;
}
#footer .footer1 .footer1-1 li {
    display: inline-block;
    border-right: 1px solid #333;
}
#footer .footer1 .footer1-1 li:last-child {
    border: 0;
}
#footer .footer1 .footer1-1 li a {
    padding: 10px;
}
#footer .footer1 .footer1-1 li a:hover {
    text-decoration: underline;
}
#footer .snsIcon {
    width: 20%;
    height: 100%;
    background-color: #cde;
}

