*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
    color: #333;
}
.colorRed{
    color: red;
}

/* @@@@ header @@@@ */
#header{
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo{
    width: 20%;
    height: 100%;
}
.nav{
    width: 30%;
    height: 100%;
    position: relative;
}
.nav > ul {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav > ul > li {

}
.nav > ul > li > a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: skyblue;
    box-sizing: border-box;
    transition: all 300ms;
}
.nav > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
.nav > ul > li > ul {
    width: 100%;
    position: absolute;
    display: none;
    background-color: #fff;
    box-sizing: border-box;
}

.nav > ul > li > ul {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 600ms;
}
.nav > ul > li > ul > li {
    position: relative;

}
.nav > ul > li > ul > li > a {
    width: 34.5%;
    display: block;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    /* background-color: skyblue; */
    top: 10px;
    z-index: 3;
    transition: all 300ms;
    background-color: #fff;
}
.nav > ul > li > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
.nav > ul > li > ul > li > ul {
    position: absolute;
    display: block;
    right: -70px;
    top: 10px;
    width: 300px;
    flex-wrap: wrap;
    background-color: skyblue;
    z-index: 4;
    overflow: hidden;
    box-sizing: border-box;
}
.nav > ul > li > ul > li > ul  td {
    padding: 10px 10px;
}
.nav > ul > li > ul > li > ul  td > a:hover {
    text-decoration: underline;
}
.search{
    width: 30%;
    height: 100%;
    position: relative;
}
.search #search_bar{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.search input{
    width: 85%;
    /*height: 30%;*/
    position: absolute;
    bottom: 0;
    left: 0;
}
.search button{
    position: absolute;
    bottom: 10px;
    right: 0;
}
.login{
    width: 10%;
    height: 100%;
    position: relative;
}

.login > p{
    display: block;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 10px 20px;
    transition: all 300ms;
}
.join{
    width: 10%;
    height: 100%;
    position: relative;
}
.join > p{
    display: block;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    transition: all 300ms;
}
.join > p:hover ,.login > p:hover {
    background-color: rgb(19, 168, 226);
}

.admin {
    position: relative;
}
.admin > ul {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.admin > ul > li > a {
    display: inline-block;
    padding: 10px 20px;
    background-color: skyblue;
    box-sizing: border-box;
    transition: all 300ms;
}
.admin > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
.admin > ul > li > ul {
    width: 100%;
    position: absolute;
    display: none;
    background-color: #fff;
    box-sizing: border-box;
}
.admin > ul > li > ul {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 600ms;
}
.admin > ul > li > ul > li {
    position: relative;

}
.admin > ul > li > ul > li > a {
    width: 100%;
    display: block;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    /* background-color: skyblue; */
    top: 10px;
    z-index: 3;
    transition: all 300ms;
    background-color: #fff;
}
.admin > ul > li > ul > li > a:hover{
    background-color: rgb(19, 168, 226);
}
@media only screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .nav {
        order: 2;
    }
    .search {
        order: 1;
    }
    .login {
        order: 3;
    }
    .join {
        order: 4;
    }
    .logo, .nav, .search, .login, .join {
        width: 100%;
        margin: auto 0;
        text-align: center;
    }
    .nav > ul {
        flex-direction: row;
        align-items: center;
    }
    .nav > ul > li > ul {
        display: none; /* 서브 메뉴는 기본적으로 숨기고 필요시 JavaScript로 토글 */
    }
    .search input {
        width: 50%;
        height: 30px;
        margin: 0 auto;

    }
    .login > p, .join > p {
        width: 70px;
        position: static; /* 절대 위치 제거 */
        margin: 10px auto; /* 중앙 정렬 */
    }

    .search button{
        position: absolute;
        right: 0;
    }
}


/* @@@@ main @@@@ */
main{
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.slide{
    height: 400px;
}
.slide .sliderWrap {
    display: flex;
    width: 400%;
}

#content{
    width: 1280px;
    height: 250px;
    display: flex;
}
#content .notice {
    width: 33.33%;
    height: 100%;
    background-color: #cde;
    font-size: 1.5em;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
#content .notice h3 {
    margin-bottom: 5px;
}
#content .notice > a{
    position: absolute;
    font-size: 0.6em;
    top: 23px;
    left: 90px;
}
#content .notice li {
    display: flex;
    line-height: 32px;
}
#content .notice li a{
    width: 75%;
    font-size: 0.7em;
}
#content .notice a:hover{
    text-decoration: underline;
}
#content .notice span{
    width: 25%;
    font-size: 0.7em;
    text-align: right;
}

#content .recommend{
    width: 33.33%;
    height: 100%;
    background-color: #bbb;
    font-size: 1.5em;
    padding: 10px;
}
#content .recommend .rec_book {
    display: flex;
    margin-top: 5px;
}
#content .recommend .rec_book ul {
    width: 33.33%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
#content .recommend .rec_book ul li .rec_cover{
    height: 80%;
    /*margin: 0 auto;*/
}
#content .recommend .rec_book ul li .rec_cover img{
    width: 90px;
    margin: 0 auto;
}
#content .recommend .rec_book ul li .rec_cover:hover img{
    opacity: 0.8;
}
#content .recommend .rec_book ul li .rec_title {
    height: 20%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .recommend .rec_book ul li .rec_title:hover{
    text-decoration: underline;
}






#content div.memo {
    width: 33.33%;
    height: 100%;
    background-color: #aaa;
    display: flex;
    position: relative;
    overflow: hidden;
}
#content div.memo .memoWrap{
    display: flex;
}
#content div.memo .memoWrap .inner{
    width: 426.61px;
    display: flex;
    position: relative;
}
#content div.memo .memo_cover{
    width: 40%;
    margin: auto 20px;
    /*width: 150px;*/
    height: 210px;
}
#content div.memo .memo_text{
    width: 60%;
}
#content div.memo .memo_title {
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content div.memo .memo_day{
    margin-top: 10px;
    height: 50px;
    text-align: center;
}
#content div.memo .read_bar{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 5px;
}
#content div.memo .read_bar .bar{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    margin-right: 5px;
}
#content div.memo .memo_page{
    display: flex;
    justify-content: space-between;
}
#content div.memo .memo_btn{
    position: absolute;
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 20px;
    bottom: 20px;
    right: 70px;
    transition: all 300ms;
}
#content div.memo .memo_card{
    position: absolute;
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 20px;
    bottom: 20px;
    right: 150px;
    transition: all 300ms;
}
#content div.memo .memo_card:hover{
    background-color: rgb(54, 184, 235);
}
#content div.memo .memo_btn:hover{
    background-color: rgb(54, 184, 235);
}
#content div.memo .arrow {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 100ms;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능하도록 함 */
}

#content div.memo .left {
    left: 10px;
    transform: translateY(-50%) rotate(-135deg);
}

#content div.memo .right {
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
}

#content div.memo .left:hover {
    transform: translateY(-50%) rotate(-135deg) scale(1.2);
}

#content div.memo .right:hover {
    transform: translateY(-50%) rotate(45deg) scale(1.2);
}


/* @@@@ footer @@@@ */
#footer{
    width: 1280px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    background-color: #bcd;
}
#footer .footer1 {
    width: 80%;
    height: 100%;
}
#footer .footer1 .footer1-1 {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-bottom: 10px;
}
#footer .footer1 .footer1-2 {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 10px;
}
#footer .footer1 .footer1-1 ul {
    padding-top: 24px;
}
#footer .footer1 .footer1-1 li {
    display: inline-block;
    border-right: 1px solid #333;
}
#footer .footer1 .footer1-1 li:last-child {
    border: 0;
}
#footer .footer1 .footer1-1 li a {
    padding: 10px;
}
#footer .footer1 .footer1-1 li a:hover {
    text-decoration: underline;
}
#footer .snsIcon {
    width: 20%;
    height: 100%;

}
#footer .snsIcon .sns_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}

#footer .snsIcon .sns_logo .sns{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
#footer .snsIcon .sns_logo .sns img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}
#footer .snsIcon .sns_logo .sns img.hover {
    opacity: 0; /* 기본 이미지를 숨깁니다. */
    position: absolute;
    transform: translateY(-50px);
    width: 50px;
    height: 50px;
}

#footer .snsIcon .sns_logo .sns:hover img.hover {
    opacity: 1; /* hover 상태일 때 다른 이미지를 보여줍니다. */
    z-index: 2;
}
