#LoginContainer{
    width: 1280px;
    height: 100%;
}
#CreateContainer{
    width: 1280px;
    height: 100%;
}
#buttongroup{
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttongroup button{
    margin: 0 10px;
}
#googlebtn{
    color: #ea4335;
}
#naverbtn{
    color: #04cf5c;
}
#kakaobtn{
    color: #F7E600;
}