<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
<div id="header">
  <div id="List">
    <h2>게시글 목록</h2>
  </div>
</div>
<div id="boardList_table">
  <table id="board_table" border="1">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>writer</th>
      <th>hits</th>
      <th>date</th>
      <th>category</th>
    </tr>
    <tr th:each="board: ${boardList}">
      <td th:text="${board.id}"></td>
      <td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a></td>
      <td th:text="${board.writer}"></td>
      <td th:text="${board.hits}"></td>
      <td th:text="${board.createDate}"></td>
      <td th:text="${board.category}"></td>
    </tr>
  </table>
</div>
<div id="footer">
  <a th:href="@{/}">메인</a>
  <a th:href="@{|/board/list/${board.category.FREE}|}" th:each="board : ${boardList}">자유</a>
  <a th:href="@{|/board/list/${board.category.QUESTION}|}" th:each="board : ${boardList}">질문</a>
</div>
</body>
</html>