<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments/head :: head}">
  <meta charset="UTF-8">
  <title>save</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container flex justify-center items-center" id="boardContainer">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create Post</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form action="/board/save" method="post" class="space-y-6">
        <!-- Text input -->
        <div class="mb-4 w-full">
          <div>
            <label for="title" class="block text-sm font-medium leading-6 text-gray-900">제목</label>
          </div>
          <div class="mt-2">
            <input placeholder="제목" type="text" id="title" name="title" class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none" required />
          </div>
        </div>

        <!-- Text input -->
        <div class="mb-4 w-full">
          <div>
            <label for="writer" class="block text-sm font-medium leading-6 text-gray-900">작성자</label>
          </div>
          <div class="mt-2">
            <input placeholder="작성자" type="text" id="writer" name="writer" th:value="${writer}" class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none" disabled />
            <input type="hidden" name="writer" th:value="${writer}">
          </div>
        </div>


        <!-- Textarea -->
        <div class="mb-4 w-full">
          <div>
            <label for="contents" class="block text-sm font-medium leading-6 text-gray-900">본문</label>
          </div>
          <div class="mt-2">
            <textarea placeholder="본문" name="contents" id="contents" rows="4" class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none" required></textarea>
          </div>
        </div>

        <div class="mb-4 w-full">
          <div>
            <label for="category" class="block text-sm font-medium leading-6 text-gray-900">카테고리</label>
          </div>
          <div class="mt-2">
              <select class="select select-bordered w-full max-w-xs" id="category" name="category">
                <option selected>FREE</option>
                <option>QUESTION</option>
                <option th:if="${role == 'ROLE_ADMIN'}">NOTICE</option>
                <option th:if="${role == 'ROLE_ADMIN'}">EVENT</option>
              </select>
          </div>
        </div>

        <!-- Submit Button -->
        <div>
          <button type="submit" class="block mb-4 w-full rounded-full bg-blue-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-blue-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0">Create Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="searchResults"></div>
<script defer src="/js/index.js"></script>
</body>
</html>