<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header id="header">
        <h3 class="logo"><a href=""><img src="/images/logo-h.png" alt="logo"></a></h3>
        <nav class="nav">
            <ul>
                <li><a href="#">my books</a></li>
                <li><a href="#">search</a></li>
                <li><a href="#">challenge</a></li>
            </ul>
        </nav>
        <input class="search" type="text">
        <a class="login" href="#">로그인</a>
        <a class="join" href="#">회원가입</a>
    </header>
</body>
</html>

<script>


</script>