<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header id="header">
        <h3 class="logo"><a href=""><img src="/images/logo-h.png" alt="logo"></a></h3>
        <nav class="nav">
            <ul>
                <li><a href="#">My books</a></li>
                <li><a href="#">찾아보기</a>
                    <ul>
                        <li><a href="#">카테고리</a>
                            <ul>
                                <li><a href="#"></a></li>
                            </ul>
                        </li>
                        <li><a href="#">베스트셀러</a></li>
                        <li><a href="#">신간</a></li>
                    </ul>
                </li>
                <li><a href="#">챌린지</a></li>
            </ul>
        </nav>
        <div class="search"><input type="text" placeholder="제목/저자/검색어를 입력하세요"></div>
        <a class="login" href="#"><p>로그인</p></a>
        <a class="join" href="#"><p>회원가입</p></a>
    </header>
</body>
</html>

<script>


</script>