<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="~{fragments/header :: header}" /><br>


<div id="book_container">
     <div id="bookDetail">  <!--첵 패이지 영역 여기 벗어나면 댓글 영역 줄것-->
     <table id="book">
         <tr class="detail_tr">
             <td class="detail_tdimg" rowspan="10">
                 <img class="cover_img" th:src="${book.cover}" alt="책이미지">
             </td>
         </tr>
         <tr>
             <td class="detail_td" colspan="1">제목:</td>
             <td  class="detail_title" colspan="3" th:text="${book.title}">
                    제목
             </td>
         </tr>
         <tr>
             <td  class="detail_td">작가:</td>
             <td  class="book_author" th:text="${book.author}">
                    작가
             </td>
             <td class="detail_td">페이지:</td>
             <td class="detail_itemPage" th:text="${book.itemPage}">
                    책페이지
             </td>
         </tr>
         <tr class="detail_tr">
             <td  class="detail_td" colspan="1" >출판일:</td>
             <td class="detail_pubDate" colspan="1" th:text="${book.pubDate}">
                    출판날짜
             </td>
             <td class="detail_td" colspan="1">출판사:</td>
             <td class="detail_publisher" colspan="1" th:text="${book.publisher}">
                 출판사
             </td>
         </tr>
         <tr class="detail_tr">

             <td class="detail_td" colspan="2">알라딘 평점 :</td>
                 <td id="bookDetailGrade" th:attr="grade=${book.aladinGrade}">
                    <div class="aladdinGrade rating rating-md rating-half">
                     <input type="radio" name="rating-7" class="rating-hidden" id="notRating"/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-1"  data-rating="0.5" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-2" data-rating="1.0" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-1" data-rating="1.5" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-2" data-rating="2.0" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-1" data-rating="2.5" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-2" data-rating="3.0" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-1" data-rating="3.5" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-2" data-rating="4.0" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-1" data-rating="4.5" disabled/>
                     <input type="radio" name="rating-7" class="aladinStar mask mask-star-2 bg-yellow-400 mask-half-2" data-rating="5.0" disabled/>
                     </div>
                 </td>
         </tr>
         <tr class="detail_tr">
             <td class="detail_want" colspan="4">
                 <button id="btn_want" th:isbn13="${book.ISBN13}" th:onclick="wantToRead(this.getAttribute('isbn13'))">서재 등록</button></td>
         </tr>
         <tr class="detail_tr">
             <td class="detail_description" colspan="4" th:text="${book.description}">
                 책의 대한 내용
             </td>
         </tr>
         <tr class="detail_tr">
             <td class="detail_td" colspan="4">
                 <a class="detail_link" th:href="${book.link}" target="_blank">알라딘바로가기</a>
             </td>
         </tr>
         <input type="hidden" id="ISBN13" th:value="${book.ISBN13}">
     </table>
 </div>
<!--    <hr class="reviewLine">    &lt;!&ndash;아래는 아직 미구현&ndash;&gt;-->
    <div th:replace="~{review/detailReview :: detailReview}" /><br>


<!--    <div class="review">-->
<!--        <label for="reviewtext"></label><textarea id="reviewtext" name="review" rows="6"></textarea>-->
<!--        <button type="button" class="btn-register"  onclick="formCheckReply()">댓글등록</button>-->
<!--    </div>-->
</div>
<dialog id="review-modal" class="modal modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg" th:text="|${book.title}의 리뷰가 없습니다|"></h3>
    <p class="py-4" >리뷰를 남기시겠습니까?</p>
    <div class="modal-action">
      <form method="dialog">
        <input type="hidden" name="">
        <button
            th:data-shelf="${shelf?.id != null ? shelf.id : 0}"
            th:data-book="${book?.id != null ? book.id : 0}"
            onclick="findReview(this.getAttribute('data-shelf'), this.getAttribute('data-book'))"
            id="modal-review-btn"
            class="btn btn-success text-white">네</button>
        <button class="btn btn-error text-white">아니오</button>
      </form>
    </div>
  </div>
</dialog>
<div id="searchResults"></div>
<input type="hidden" id="sessionId" th:value="${session.memberId}" />
<script src="/js/detail.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script defer src="/js/Review/detailReview.js"></script>

</body>
</html>
<script defer src="/js/index.js"></script>