<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="~{fragments/header :: header}" /><br>


<div id="book_container" >
     <div id="bookDetail">  <!--첵 패이지 영역 여기 벗어나면 댓글 영역 줄것-->
     <table id="book">
         <tr class="detail_tr">
             <td class="detail_tdimg" rowspan="10">
                 <img class="cover_img" th:src="${book.cover}" alt="책이미지">
             </td>
         </tr>
         <tr>
             <td class="detail_td" colspan="1">책 제목:</td>
             <td  class="detail_title" colspan="3" th:text="${book.title}">
                    제목
             </td>
         </tr>
         <tr>
             <td  class="detail_td">책 작가:</td>
             <td  class="book_author" th:text="${book.author}">
                    작가
             </td>
             <td class="detail_td">책 페이지:</td>
             <td class="detail_itemPage" th:text="${book.itemPage}">
                    책페이지
             </td>
         </tr>
         <tr class="detail_tr">
             <td  class="detail_td" colspan="1" >출판날짜:</td>
             <td class="detail_pubDate" colspan="1" th:text="${book.pubDate}">
                    출판날짜
             </td>
             <td class="detail_td" colspan="1">출판사:</td>
             <td class="detail_publisher" colspan="1" th:text="${book.publisher}">
                 출판사
             </td>
         </tr>
         <tr class="detail_tr">
             <td class="detail_want" colspan="4">
                 <button id="btn_want" th:isbn13="${book.ISBN13}" th:onclick="wantToRead(this.getAttribute('isbn13'))">Want To Read</button></td>
         </tr>
         <tr class="detail_tr">
             <td class="detail_description" colspan="4" th:text="${book.description}">
                 책의 대한 내용
             </td>
         </tr>
         <tr class="detail_tr">
             <td class="detail_td" colspan="4">
                 <a class="detail_link" th:href="${book.link}" target="_blank">알라딘링크</a>
             </td>
         </tr>
         <input type="hidden" id="bookId" th:value="${book.id}">
     </table>
 </div>
<!--    <hr class="reviewLine">    &lt;!&ndash;아래는 아직 미구현&ndash;&gt;-->
    <div th:replace="~{review/detailReview :: detailReview}" /><br>

<!--    <div class="review">-->
<!--        <label for="reviewtext"></label><textarea id="reviewtext" name="review" rows="6"></textarea>-->
<!--        <button type="button" class="btn-register"  onclick="formCheckReply()">댓글등록</button>-->
<!--    </div>-->
</div>

<div id="searchResults"></div>
<script src="/js/detail.js"></script>
<script defer src="/js/detailReview.js"></script>
</body>
</html>
<script defer src="/js/index.js"></script>