<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}" /><br>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<div id="shelf_container">
<div id="shelf_left">
<hr class="shelfLeft_hr">
    <p class="bookShelves">내 서재들</p>
    <a href="/myshelf/tag/ALL" class="myShelf_" th:text="'전체(' + ${all.size()} + ')'">1</a>
    <br>
    <a href="/myshelf/tag/READ" class="myShelf_" th:text="'읽은 책(' + ${read} + ')'">1</a>
    <br>
    <a href="/myshelf/tag/WANT_TO_READ" class="myShelf_" th:text="'읽고싶은 책(' + ${want} + ')'">1</a>
    <br>
    <a href="/myshelf/tag/CURRENTLY_READING" class="myShelf_" th:text="'읽고있는 책(' + ${current} + ')'">1</a>
    <hr class="shelf_left_center">
    <p class="bookShelves">읽기 활동</p>
    <a href="#" class="myShelf_" th:text="'나의 리뷰(' + ${books.size()} + ')'">1</a>
    <br>
    <a href="/memo/all" class="myShelf_" th:text="'나의 메모(' + ${books.size()} + ')'">1</a>
    <br>
    <a href="#" class="myShelf_" th:text="'나의 챌린지(' + ${books.size()} + ')'">1</a>
    <br>
</div>
<div id="shelf_center">
    <hr class="myShelf_hr">
    <br>

    <table class="shelf_table">
        <thead>
        <tr class="shelf_tr">
            <th class="shelf_th" ># </th>
            <th class="shelf_th">이미지</th>
            <th class="shelf_th">제목</th>
            <th class="shelf_th">작가</th>
            <th class="shelf_th">페이지수</th>
            <th class="shelf_th">진행량</th>
            <th class="shelf_th">서재</th>
            <th class="shelf_th">시작일</th>
            <th class="shelf_th">완독일</th>
            <th class="shelf_th">상세보기</th>
            <th class="shelf_th">리뷰작성</th>
            <th class="shelf_th">삭제</th>
            </tr>
        </thead>
        <tbody>
        <tr class="myShelf_tr" th:each=" book: ${books}">
            <td class="shelf_th" th:text="${bookStat.count}">1</td>
            <td class="shelf_tdimg">
                <img class="cover_img" th:src="${book.cover}" alt="책이미지"></td>
 <td class="shelf_title" th:text="${#strings.contains(book.title, '(') ? #strings.substringBefore(book.title, '(') : #strings.contains(book.title, '-') ? #strings.substringBefore(book.title, '-') : book.title}">제목</td>
        <td class="shelf_author"   th:text="${#strings.substringBefore(book.author, '(')}">작가</td>
        <td class="shelf_page" th:text="${book.itemPage}">페이지</td>
            <td class="shelf_myShelf" th:text="${shelf[bookStat.index].currentPage == null ? '0' :shelf[bookStat.index].getCurrentPage()}">읽은페이지</td>
            <td class="shelf_myShelf_read" th:text="${shelf[bookStat.index].tag == null ? '읽고싶은 책' : shelf[bookStat.index].tag.getKorean()}">상태</td>
            <div class="popup" th:attr="data-value=${shelf[bookStat.index].getId()}">
                <input type="radio" id="value1" name="stats" value="READ">
                <label for="value1">읽은 책</label><br>
                <input type="radio" id="value2" name="stats" value="WANT_TO_READ">
                <label for="value2">읽고 싶은 책</label><br>
                <input type="radio" id="value3" name="stats" value="CURRENTLY_READING">
                <label for="value3">읽고 있는 책</label>
            </div>
            <td class="shelf_myShelf_add"  th:text="${#temporals.format(shelf[bookStat.index].addDate,('yyyy-MM-dd'))}">추가일</td>
            <td class="shelf_myShelf_start" th:text="${shelf[bookStat.index].startDate == null ? '미정' : #temporals.format(shelf[bookStat.index].startDate,('yyyy-MM-dd'))}">시작일</td>
            <td class="shelf_myShelf_update"> <button class="btn btn-primary btn-detail"> 상세보기</button></td>
            <td class="shelf_myShelf_review" ><a th:href="@{/review/{bookShelfId}/{bookId}(bookShelfId=${shelf[bookStat.index].getId()},bookId=${book.getId()})}">리뷰</a></td>
            <td class="shelf_myShelf_delete" th:attr="data-value=${shelf[bookStat.index].getId()}" > <button class="btn btn-primary btn-jittery">삭제하기
            </button></td>

        </tr>
        </tbody>
    </table>
    <!-- 모달 -->
    <div class="modal" id="myModal">
        <div id="modal_content">
        </div>
    </div>

</div>
    <script  src="/js/myShelf.js"></script>
    <script  src="/js/myShelfModal.js"></script>
</div>
<div id="searchResults"></div>
<script defer src="/js/index.js"></script>
</body>
</html>