<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="~{fragments/header :: header}" /><br>


<div id="book_container">
    <div id="bookDetail">
        <table id="book">
            <tr class="detail_tr">
                <td class="detail_tdimg" rowspan="10">
                    <img class="cover_img" th:src="${book.cover}" alt="책이미지">
                </td>
            </tr>
            <tr>
                <td class="detail_td" colspan="1">책 제목:</td>
                <td  class="detail_title" colspan="3" th:text="${book.title}">
                    제목
                </td>
            </tr>
            <tr>
                <td  class="detail_td">책 작가:</td>
                <td  class="book_author" th:text="${book.author}">
                    작가
                </td>
            </tr>
            <tr class="detail_tr">
                <td class="updateMyBook_td">책 페이지:</td>
                <td class="updateMyBook_itemPage" th:text="${book.itemPage}">
                    책페이지
                </td>
                <td class ="updateMyBook_td">읽은 페이지:</td>
                <td class="updateMyBook_readingPage" th:text="${shelf.itemPage}">
                    현재 읽은페이지</td>
            </tr>
            <tr>
                <td class ="updateMyBook_td">목표일 :</td>
                <td class="updateMyBook_target" th:text="${shelf.endDate == null ? '' : #temporals.format(shelf.endDate,('yyyy-MM-dd'))}">완독일</td>
                <td class ="updateMyBook_td">완독일 :</td>
            <td class="updateMyBook_endDate" th:text="${shelf.endDate == null ? '' : #temporals.format(shelf.endDate,('yyyy-MM-dd'))}">완독일</td>
            </tr>
            <tr class="detail_tr">

                <td class="detail_description" colspan="4" th:text="${book.description}">
                    책의 대한 내용
                </td>
            </tr>
            <tr class="detail_tr">

            </tr>
        </table>
    </div>

</div>

<div id="searchResults"></div>
<script src="/js/detail.js"></script>
</body>
</html>