<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>댓글 섹션</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div id="comment-container" class="w-fullbg-white rounded-lg border p-1 md:p-3 m-10">
  <div class="flex flex-col gap-5 m-3">
    <!-- Comment Container -->
    <div>
      <div class="flex w-full justify-between border rounded-md">

        <div class="p-3">
          <div class="flex gap-3 items-center">
            <img src="https://avatars.githubusercontent.com/u/22263436?v=4"
                 class="object-cover w-10 h-10 rounded-full border-2 border-emerald-400  shadow-emerald-400">
            <h3 class="font-bold">
              User 1
              <br>
              <span class="text-sm text-gray-400 font-normal">Level 1</span>
            </h3>
          </div>
          <p class="text-gray-600 mt-2">
            this is sample commnent
          </p>
          <button class="text-right text-blue-500">Reply</button>
        </div>

      </div>

    </div>
    <!-- END Comment Container  -->

    <div class="w-full px-3 mb-2 mt-6">
        <textarea
            class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-400 focus:outline-none focus:bg-white"
            name="body" placeholder="Comment" required></textarea>
    </div>

    <div class="w-full flex justify-end px-3 my-3">
      <input type="submit" class="px-2.5 py-1.5 rounded-md text-white text-sm bg-indigo-500 text-lg"
             value='댓글 등록'>
    </div>


  </div>
</div>

</body>
</html>
