<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.tailwindcss.com"></script>
<body>

<div th:fragment="detailReview" id="detailReview_container" class="bg-gray-101">
  <div class="collapse collapse-close collapse-arrow bg-base-200 rounded-box border border-gray-200 shadow-md p-4 m-4 hover:bg-base-300">
    <input id="collapse-check" type="checkbox"/>
    <div class="collapse-title text-xl font-medium">
      리뷰 보기
    </div>
    <div class="collapse-content">
      <div class="flex flex-col">
        <!-- 검색 및 정렬 -->
        <div class="flex flex-wrap items-center gap-2 mb-4">
          <input id="searchQuery" class="input input-bordered flex-1" placeholder="Search"/>
          <select id="review_sort" class="select select-bordered">
            <option disabled selected>정렬</option>
            <option>인기순</option>
            <option>최신순</option>
            <option>오래된순</option>
          </select>
          <button class="btn btn-primary" onclick="searchReviews()">Search</button>
        </div>


        <div id="review_detail_content" class="space-y-4">

        </div>

        <div id="pagination" class="pagination flex justify-center items-center space-x-2 my-4">

          <!--페이징 끝-->

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
