<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body th:fragment="memo">
<div id="memo_modal" >
    <div id="memo_modal_inner">
        <span class="close-modal">×</span>
        <h2> 메모 남기기 </h2>
        <form class="memo" action="/memo" method="post" onsubmit="return validateForm()">
            <div class="cover_img" >
                 <img th:src="${book.cover}" alt="책 이미지">
    <!--            <img src="https://image.aladin.co.kr/product/30683/62/cover/8964964853_1.jpg" alt="책 이미지">-->
                <input type="hidden" th:name="bookShelf" th:value="${shelf.id}"/>
            </div>
            <div class="text_memo">
                <div>
                    <p> 페이지 </p>
                    <input type="number" class="page" id="page" name="page" min="1" th:max="${book.itemPage}" placeholder="페이지를 입력하세요." /> <br>
                </div>
                <div>
                    <p> 작성 시간 </p>
                    <input type="datetime-local" class="memoDateTime" name="createdDate" required />
                </div>
                <div>
                    <p> 인용문구 </p>
                    <textarea id="quotes" name="quotes" placeholder="인상 깊은 문구를 입력하세요." ></textarea> <br>
                </div>
                <div>
                    <p> 나의 생각 </p>
                    <textarea id="note" name="note" placeholder="본인의 생각이나 느낀점을 적어보세요." required ></textarea> <br>
                </div>
            </div>
            <div class="btns">
                <button type="submit"> 작성 </button>
                <button type="reset"> 취소 </button>
            </div>
        </form>
    </div>
</div>
</body>

