<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div th:replace="~{fragments/header :: header}" /><br>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <div id="shelf_container" class="shelf_container">
        <div id="shelf_left">
            <hr class="shelfLeft_hr">
            <p class="bookShelves">내 서재들</p>
            <a th:if="${tagValue}" href="/myshelf/tag/ALL" class="myShelf_"
                th:text="'전체(' + ${read+want+current} + ')'">1</a>
            <a th:unless="${tagValue}" href="/myshelf/tag/ALL" class="myShelf_"
                th:text="'전체(' + ${books.size()} + ')'">1</a>
            <br>
            <a href="/myshelf/tag/READ" class="myShelf_" th:text="'읽은 책(' + ${read} + ')'">1</a>
            <br>
            <a href="/myshelf/tag/WANT_TO_READ" class="myShelf_" th:text="'읽고싶은 책(' + ${want} + ')'">1</a>
            <br>
            <a href="/myshelf/tag/CURRENTLY_READING" class="myShelf_" th:text="'읽고있는 책(' + ${current} + ')'">1</a>
            <hr class="shelf_left_center">
            <p class="bookShelves">읽기 활동</p>
            <a href="/review/reviewList" class="myShelf_" th:text="'나의 리뷰(' + ${reviewCounts} + ')'">1</a>
            <br>
            <a href="/memo/all" class="myShelf_" th:text="'나의 메모(' + ${memos.size()} + ')'">1</a>
            <br>
            <a href="#" class="myShelf_" th:text="'나의 챌린지(' + ${books.size()} + ')'">1</a>
            <br>
        </div>


        <div id="shelf_center">
            <br>
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>페이지</th>
                            <th>작성 날짜</th>
                            <th th:width="250px">인용구</th>
                            <th th:width="350px">노트</th>
                            <th>수정</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody th:each="memo ,index : ${memos}">
                        <tr class="hover">
                            <form>
                                <th th:text="${index.index + 1}">1</th>
                                <td th:text="${memo.page == null ? '-' : 'p.'+ memo.page}"></td>
                                <td
                                    th:text="${memo.createdDate == null ? '-' : #temporals.format(memo.createdDate,('yyyy-MM-dd HH:mm'))}">
                                </td>
                                <td th:text="${memo.quotes == null ? '-' : memo.quotes}"></td>
                                <td th:text="${memo.note == null ? '-' : memo.note}"></td>
                                <td>
                                    <input type="button" value="수정" class="btn btn-detail btn-sm" th:onclick="" />
                                </td>
                                <td>
                                    <input type="button" value="삭제" class="btn btn-detail btn-sm"
                                        th:onclick="|location.href='/memo/' + @{${bookshelfId}} + '/' + @{${memo.id}}|" />
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <script src="/js/memoList.js"></script>
</body>

</html>