<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="hidden" id="shelfGrade" th:value="${shelf.bookShelfGrade}" />
<div th:replace="~{fragments/header :: header}" /><br>

    <div class="review-container w-[900px]  p-4">
        <div class="flex flex-col m-3 shadow-lg">

            <div class="flex justify-center items-center p-2">
                <div class="p-2">
                    <div th:text="${book.title}" class="text-xl text-center">개미 2 (Hardcover)</div>
                    <img th:src="${book.cover}" alt="책 커버" class="h-32 w-32 lg:h-48 lg:w-48 m-auto">

                    <div class="text-center" th:text="|${book.author} (${book.itemPage})p|">by Bernard Werber (30p)</div>
                    <div class="flex justify-center">
                        <div class="rating rating-lg rating-half shelf-rating">
                            <input type="radio" name="rating-10" class="rating-hidden"  checked/>
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-1" data-rating="0.5"/>
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-2" data-rating="1.0"/>
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-1" data-rating="1.5"/>
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-2" data-rating="2.0"/>
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-1" data-rating="2.5"/>
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-2" data-rating="3.0" />
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-1" data-rating="3.5" />
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-2" data-rating="4.0" />
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-1" data-rating="4.5" />
                            <input type="radio" name="rating-10" class=" bg-yellow-500 mask mask-star-2 mask-half-2" data-rating="5.0" />
                        </div>
                    </div>

                    <div class="text-base text-center mt-2" th:text="${shelf.getTag().getKorean()}">읽은 책</div>
                </div>
            </div>
            <div class="flex justify-center p-2">
                <div class="flex justify-center items-center w-full">
                    <form th:action="@{/review/{shelfId}/{bookId}(shelfId=${shelf.id}, bookId=${book.id})}" method="post" class="w-full max-w-xl p-4">
                        <div th:if="${review != null}">
                            <input type="hidden" name="id" th:value="${review.id}">
                        </div>
                        <textarea class="textarea textarea-bordered w-full" th:text="${review?.content}" name="content" rows="4" placeholder="여기에 리뷰를 작성하세요."></textarea>

                        <div class="form-control mt-4">
                            <label class="cursor-pointer">
                                <input type="checkbox" name="isSpoilerActive"  class="checkbox mr-2"
                                       th:checked="${review?.isSpoilerActive}" />
                                <span class="label-text">스포일러 방지를 하시겠습니까?</span>
                            </label>
                        </div>
                        <div class="buttons flex items-center">
                            <button class="btn btn-outline mr-5" type="submit">저장</button>
                            <button class="btn btn-square btn-outline">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script defer src="/js/Review/review.js"></script>
</body>

</html>