<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
<!--<head>-->
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" href="/css/header.css">
    <script defer src="/js/main.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}" /><br>
    <div id="slideCard" class="overflow-x-auto">
        <h1> 슬라이드 카드 설정 </h1>

            <table class="table">
                <thead>
                    <th th:width="80">슬라이드 순서</th>
                    <th th:width="300">도서 제목</th>
                    <th th:width="150">도서 ISBN13</th>
                    <th th:width="100">등록일자</th>
                    <th th:width="200">슬라이드 파일</th>
                    <th th:width="50"> 삭제 </th>
                </thead>
                <tbody id="slideTable">
                <tr th:each="card, index : ${slideCard}" th:data-id="${card.id}" draggable="true" id="slide" class="hover">
                    <td th:text="${index.index + 1}">1</td>
                    <td th:if="${card.book == null}" > ISBN13 값이 잘못 되었습니다.<br>삭제 후 재생성 바람. </td>
                    <td th:unless="${card.book == null}" th:text="${card.book.getTitle()}">데일 카네기 인간관계론</td>
                    <td th:text="${card.ISBN13}"> 9791187142560 </td>
                    <td th:text="${card.addDate}">2024-04-07</td>
                    <td>
                        <div th:if="${card.book == null}"> ISBN13 값 오류 </div>
                        <img th:unless="${card.book == null}" th:src="@{/images/slides/{fileName}(fileName=${card.slideFileName})}" th:alt="${card.slideFileName}">
                    </td>
                    <td>
                        <input type="button" class="btn btn-sm" value="삭제" th:onclick="|location.href='/slide/'+ @{${card.id}} |"/>

                    </td>
                </tr>
                </tbody>
            </table>
        <hr>
        <form id="slideForm" action="/slide" method="post" enctype="multipart/form-data">
            <span> ISBN13 입력 : </span>
            <input type="number" class="input input-bordered input-sm w-full max-w-xs" name="ISBN13" id="ISBN13" placeholder="13자리를 입력해 주세요." onchange="ISBNCheck"/>
            <span class="colorRed" id="ISBN13_value"></span> <br>
            <span> 슬라이드 파일 (파일 형식 <span class="colorRed">JPG</span> 또는 <span class="colorRed">PNG</span> / 파일 사이즈 <span class="colorRed">1280 x 400 px</span>) : </span><br>
            <input type="file" class="file-input file-input-bordered file-input-sm w-full max-w-xs" name="file" id="file"/>
            <input type="hidden" name="idx" th:value="${slideCard.size()+1}">
            <input type="button" class="btn btn-sm" onclick="fileUpload(form)" value="업로드">
        </form>
    </div>
</body>
</html>

<script>
    let slideTable = document.querySelector('#slideTable');
    let slides = [...document.querySelectorAll('#slide')];
    let ISBN13 = document.querySelector('#ISBN13');
    let ISBN_value = document.querySelector('#ISBN13_value');

    function ISBNCheck() {
        let isbnInput = ISBN13.value.trim();

        if (!/^978|^979/.test(isbnInput.substring(0, 3))) {
            ISBN_value.textContent = "ISBN13은 978 또는 979로 시작해야 합니다.";
        } else if (isbnInput.length !== 13) {
            ISBN_value.textContent = "ISBN13은 13자리를 입력해주세요.";
        } else {
            ISBN_value.textContent = '';
        }
    }

    ISBN13.addEventListener("input", ISBNCheck); // input 이벤트로 ISBNCheck 함수를 호출

    slides.forEach(slide =>{
        slide.addEventListener("dragstart", ()=>{
            slide.classList.add('drag');
        })
        slide.addEventListener("dragend", ()=>{
            slide.classList.remove('drag');
            slide.classList.remove('dropTarget');
        })
    })

    slideTable.addEventListener("dragover", e=>{
        e.preventDefault();
        // 드롭될 위치에 테두리 스타일 추가
        const targetSlide = e.target.closest('tr');
        if (targetSlide) {
            targetSlide.classList.add('dropTarget');
        }
    })

    slideTable.addEventListener("dragleave", e => {
        // 드롭될 위치에서 떠나면 테두리 스타일 제거
        const targetSlide = e.target.closest('tr');
        if (targetSlide) {
            targetSlide.classList.remove('dropTarget');
        }
    });

    slideTable.addEventListener("dragend", e => {
        // 드롭될 위치에서 떠나면 테두리 스타일 제거
        const targetSlide = e.target.closest('tr');
        if (targetSlide) {
            targetSlide.classList.remove('dropTarget');
        }
    });

    slideTable.addEventListener("drop", e => {
        e.preventDefault();
        const draggedSlide = document.querySelector('.drag');
        const targetSlide = e.target.closest('tr');
        if (draggedSlide !== targetSlide) {
            const slideParent = draggedSlide.parentNode;
            const draggedIndex = Array.from(slideParent.children).indexOf(draggedSlide);
            const targetIndex = Array.from(slideParent.children).indexOf(targetSlide);
            if (draggedIndex < targetIndex) {
                slideParent.insertBefore(draggedSlide, targetSlide.nextSibling);
            } else {
                slideParent.insertBefore(draggedSlide, targetSlide);
            }
        }
        // 변경된 순서를 서버로 전송
        const slideIds = Array.from(document.querySelectorAll('#slideTable tr')).map(tr => tr.dataset.id);
        console.log(slideIds);
        saveSlideOrder(slideIds);

    });
    function saveSlideOrder(slideIds){
        fetch('/slide/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ slideIds: slideIds })
        })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
                if (!response.ok) {
                    throw new Error('Failed to save slide order');
                }
                console.log('Slide order saved successfully');
            })
            .catch(error => {
                console.error('Error saving slide order:', error);
            });
    }

    function fileUpload(form) {
        let isbnInput = document.getElementById('ISBN13');
        let fileInput = document.getElementById('file');
        let check = true;

        // ISBN13이 13자리인지 확인
        if (isbnInput.value.length !== 13) {
            alert('ISBN13은 13자리여야 합니다.');
            check = false;
        }

        // ISBN13 값이 978 또는 979로 시작하는지 확인
        let isbnPrefix = isbnInput.value.substring(0, 3);
        if (isbnPrefix !== '978' && isbnPrefix !== '979') {
            alert('ISBN13 값은 978 또는 979로 시작해야 합니다.');
            check = false;
        }

        // 파일이 JPG 또는 PNG인지 확인
        let allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtensions.exec(fileInput.value)) {
            alert('JPG 또는 PNG 파일만 허용됩니다.');
            check = false;

        }

        // 파일 크기가 1280x400 픽셀인지 확인
        let img = new Image();
        img.onload = function() {

            if (img.width !== 1280 || img.height !== 400) {
                console.log(img.width);
                console.log(img.height);
                check = false;
                console.log(check);
                alert('파일의 크기는 1280x400 픽셀이어야 합니다.');
            } else {
                if(check) {
                    console.log(check);
                    form.submit();
                }
            }
        }
        img.src = URL.createObjectURL(fileInput.files[0]);

        return false;
    }



</script>
