<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" th:fragment="footer">
    <div class="footer1">
        <div class="footer1-1">
            <ul>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">저작권보호정책</a></li>
                <li><a href="#">이메일무단수집거부</a></li>
                <li><a href="#">사이트운영지침</a></li>
            </ul>
        </div>
        <div class="footer1-2">COPYRIGHT 2024, All Rights Reseved</div>
    </div>
    <div class="snsIcon">
        <div class="sns_logo">
            <a href="https://www.facebook.com/?locale=ko_KR" target="_blank" class="sns facebook">
                <img src="/images/SNS_logo/001.png" alt="facabook" class="default">
                <img src="/images/SNS_logo/002.png" alt="facabook" class="hover">
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="sns youtube">
                <img src="/images/SNS_logo/003.png" alt="youtube" class="default">
                <img src="/images/SNS_logo/004.png" alt="youtube" class="hover">
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="sns instagram">
                <img src="/images/SNS_logo/005.png" alt="instagram" class="default">
                <img src="/images/SNS_logo/006.png" alt="instagram" class="hover">
            </a>
        </div>
    </div>
</footer>