<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" th:fragment="footer">
    <div class="footer1">
        <div class="footer1-1">
            <ul>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">저작권보호정책</a></li>
                <li><a href="#">이메일무단수집거부</a></li>
                <li><a href="#">사이트운영지침</a></li>
            </ul>
        </div>
        <div class="footer1-2">COPYRIGHT 2024, All Rights Reseved</div>
    </div>
    <div class="snsIcon">
        <a href="#"></a>
    </div>
</footer>