<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body th:fragment="header">

    <header id="header">
        <h3 class="logo"><a href="/"><img src="/images/logo-h.png" alt="logo"></a></h3>
        <nav class="nav">
            <ul>
                <li><a href="/myshelf">My books</a></li>
                <li><a href="#">찾아보기</a>
                    <ul class="submenu">
                        <li><a href="#">카테고리</a>
                            <ul>
                                <table>
                                    <tr>
                                        <td><a href="/category/656">인문</a></td>
                                        <td><a href="/category/1">소설/시</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/category/74">역사</a></td>
                                        <td><a href="/category/170">경영/경제</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/category/351">컴퓨터/모바일</a></td>
                                        <td><a href="/category/798">사회과학</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/category/987">과학</a></td>
                                        <td><a href="/category/90838">기술공학</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/category/1322">외국어</a></td>
                                        <td><a href="/category/1196">여행</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/category/336">자기계발</a></td>
                                        <td><a href="/category/1383">자격증</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/category/90833">건강/스포츠</a></td>
                                        <td><a href="/category/1237">종교/역학</a></td>
                                    </tr>
                                </table>
                            </ul>
                        </li>
                        <li><a href="/bestSeller/bestSeller">베스트셀러</a></li>
                        <li><a href="/bestSeller/ItemNewAll">신간</a></li>
                    </ul>
                </li>
                <li><a href="#">챌린지</a>
                    <ul class="submenu">
                        <li><a href="/challenge/stack">쌓아보기</a></li>
                        <li><a href="/challenge/list">리스트 보기</a></li>
                        <li><a href="/challenge/scale">무게 비교</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="search">

            <form onsubmit="searchBooks(); return false;">
<!--                <input type="text" id="query" placeholder="제목/저자/검색어를 입력하세요">-->
<!--                <button type="submit">검색</button>-->
                <label class="input input-bordered flex items-center gap-2" id="search_bar">
                    <input type="text" id="query" class="search-input" placeholder="제목/저자/검색어를 입력하세요" />
                    <button type="submit" class="search-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
                    </button>
                </label>

            </form>
        </div>
        <a class="login"  sec:authorize="!isAuthenticated()" href="/member/loginForm"><p>로그인</p></a>
        <a class="join" sec:authorize="!isAuthenticated()" href="/member/save"><p>회원가입</p></a>
        <div class="avatar placeholder" sec:authorize="isAuthenticated()">
            <div class="bg-neutral text-neutral-content rounded-full w-24">
                <span class="text-3xl">D</span>
            </div>
        </div>
        <a class="login" sec:authorize="isAuthenticated()" href="javascript:void(0)" onclick="Logout();"><p>로그아웃</p></a>

        <a class="join" sec:authorize="isAuthenticated()" href="/member/update"> <p th:text="${#authentication.principal.name}">사용자 이름</p></a>


<!--        <a class="join" sec:authorize="isAuthenticated()" href="/member/update"><p>정보수정</p></a>-->
<!--        admin-->
        <div class="admin" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false}">
            <ul>
                <li><a href="#">ADMIN</a>
                    <ul class="submenu">
                        <li><a href="/member/list">회원관리</a></li>
                        <li><a href="/slide">슬라이드</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="message-container" class="absolute inset-x-0 mx-auto transform -translate-y-1/2 mt-[100px]">
            <!-- Message Container의 내용 -->
        </div>
    </header>

    <script>
        window.addEventListener('scroll', function() {
            var messageContainer = document.getElementById('message-container');
            var yOffset = window.pageYOffset ; // 현재 스크롤 위치에서 200px 아래에 요소를 위치시킵니다.
            messageContainer.style.top = yOffset + 'px';
        });
    </script>
    <div id="searchResults"></div>
</body>
</html>
