<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<main id="main" >

    <article class="slide">
        <div class="sliderWrap">
            <div class="slider s1"><a href="/content/9791187142560"><img src="/images/slider01.png" alt="slider01"></a></div>
            <div class="slider s2"><a href="/content/9791187444725"><img src="/images/slider02.png" alt="slider02"></a></div>
            <div class="slider s3"><a href="/content/9791192300818"><img src="/images/slider03.png" alt="slider03"></a></div>
        </div>
    </article>
    <section id="content">
        <div class="notice"> 공지사항 </div>
        <div class="recommend"> 에이북즈 도서 추천 </div>
        <div class="memo" th:if="${session.id == null}">
            <img src="/images/memo_card.png" alt="메모카드">
            <a href="/member/login" class="memo_card"> 로그인 하기 </a>
        </div>
        <div class="memo" th:if="${session.id != null and ( books == null or shelves == null )}">
            <img src="/images/memo_card.png" alt="메모카드">
            <a href="/myshelf" class="memo_card">나의 서재</a>
        </div>
        <div class="memo" th:if="${session.id != null and books != null and shelves != null}" th:with="book=${books[0]}, shelf=${shelves[0]}" >
            <img th:src="${book.cover}" alt="book_cover" class="memo_cover">
            <div class="memo_text">
                <div class="memo_title" th:text="${book.title}"></div>
                <div class="memo_day" > 5일째 읽는 중 </div>
                <div class="read_bar">
                    <div class="bar"></div>
                </div>
                <div class="memo_page">
                    <div class="per" th:text="${(shelf.currentPage * 100) / book.itemPage + '%'}"> 10% </div>
                    <div class="page" th:text="|${shelf.currentPage}/${book.itemPage} 페이지|"> 30/300 페이지 </div>
                </div>
                <a class="memo_btn" href="#">메모하기</a>
                <div class="arrow left"></div>
                <div class="arrow right"></div>
            </div>
        </div>
    </section>

</main>