<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
  <meta charset="UTF-8">
  <title>detail</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"/><br>
<div class="container" id="CreateContainer">
  <div class="overflow-x-auto bg-white dark:bg-neutral-700">
    <table class="min-w-full text-center text-sm whitespace-nowrap" id="boardTable">
      <thead class="uppercase tracking-wider border-b-2 dark:border-neutral-600 bg-neutral-50 dark:bg-neutral-800 border-t">
      <tr>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">번호</th>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">Id</th>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">Email</th>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">Nickname</th>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">Role</th>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">Profile</th>
        <th scope="col" class="px-6 py-4 border-x dark:border-neutral-600">RegDate</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-b dark:border-neutral-600 hover:bg-neutral-100 dark:hover:bg-neutral-600">
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.id}"></td>
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.loginId}"></td>
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.email}"></td>
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.name}"></td>
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.role.getRole()}"></td>
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.profile}"></td>
        <td scope="row" class="px-6 py-4 border-x dark:border-neutral-600" th:text="${member.regDate}"></td>
      </tr>
      </tbody>
    </table>
    <div class="text-center flex justify-end items-center overflow-x-auto space-x-3">
      <button class="btn btn-outline btn-info" th:onclick="|location.href='@{/}'|">메인</button>
      <button class="btn btn-outline btn-success" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false}" th:onclick="|location.href='@{/member/list}'|">목록</button>
      <button class="btn btn-outline btn-warning" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false}" th:onclick="|location.href='@{/member/update}'|">수정</button>
    </div>
  </div>
</div>
</body>
</html>