<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
  <div id="header">
    <div id="title">
      <h2>회원목록</h2>
    </div>
  </div>
  <div id="list_table">
    <table id="member_table" border="1">
      <tr>
        <th>id</th>
        <th>LoginId</th>
        <th>Password</th>
        <th>Email</th>
        <th>Nickname</th>
        <th>Role</th>
        <th>Profile</th>
        <th>RegDate</th>
        <th>조회</th>
        <th>삭제</th>
      </tr>
      <tr th:each="member: ${memberList}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.loginId}"></td>
        <td th:text="${member.password}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.nickname}"></td>
        <td th:text="${member.role}"></td>
        <td th:text="${member.profile}"></td>
        <td th:text="${member.regDate}"></td>
        <td>
          <a th:href="@{|/member/${member.id}|}">조회</a>
        </td>
        <td>
          <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
        </td>
      </tr>
    </table>
  </div>
  <div id="footer">
    <a th:href="@{/}">메인</a>
  </div>
</body>
</html>