<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <script type="text/javascript" src="/js/Member/MemberLogin.js" defer></script>
</head>
<body>
  <div id="header">
    <div id="title">
      <h2>로그인</h2>
    </div>
  </div>
  <div id="loginform">
    <form action="/member/login" method="post">
      <table border="1">
        <tr>
          <td>Id</td>
          <td><input type="text" name="loginId" id="logId"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" id="pw"></td>
        </tr>
        <tr>
          <td colspan="2" id="btns">
            <input type="button" value="로그인" onclick="checkLogin(form)">
            <input type="reset" value="취소">
          </td>
        </tr>
        </table>
      </form>
  </div>
</body>
</html>