<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update</title>
</head>
<body>
<div id="header">
  <div id="title">
    <h2>정보수정</h2>
  </div>
</div>
<div id="updateform">
  <form action="/member/update" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>Id</td>
        <td><input type="text" th:value="${updateMember.loginId}" name="loginId" disabled></td>
        <td><input type="hidden" th:value="${updateMember.id}" name="id"></td>
        <td><input type="hidden" th:value="${updateMember.loginId}" name="loginId"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" th:value="${updateMember.password}" name="password"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="email" th:value="${updateMember.email}" name="email"></td>
      </tr>
      <tr>
        <td>Nickname</td>
        <td><input type="text" th:value="${updateMember.name}" name="nickname"></td>
      </tr>
      <tr>
        <td>Profile</td>
        <td><input type="file" name="file"></td>
        <td><input type="hidden" th:value="${updateMember.profile}" name="profile"></td>
      </tr>
      <tr>
        <td><input type="hidden" th:value="${updateMember.role}" name="role"></td>
        <td><input type="hidden" th:value="${updateMember.regDate}" name="regDate"></td>
      </tr>
      <tr>
        <td colspan="2" id="btns">
          <input type="submit" value="수정">
          <input type="reset" value="취소">
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>